{% load staticfiles %}
<link href="{% static '/css/iview.css' %}" rel="stylesheet">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<script src="{% static '/js/vue.js' %}"></script>
<script src="{% static '/js/iview.js' %}"></script>
<script src="{% static '/js/axios.min.js' %}"></script>
<script>
    axios.defaults.headers.common['X-CSRFToken'] = '{{csrf_token}}';

    function isContains(str, substr) {
        return str.toString().indexOf(substr) >= 0;
    }

    const downloadUrl = url => {
        let iframe = document.createElement('iframe')
        iframe.style.display = 'none';
        iframe.src = url;
        iframe.onload = function () {
            document.body.removeChild(iframe)
        };
        document.body.appendChild(iframe)
    };
    axios.interceptors.response.use(function (response) {
        // Do something with response data
        {#            console.log("=======================");#}
        {#            console.log(isContains(response.data,'<title>登录</title>'));#}
        {#            console.log(response.data);#}
        //TODO  判断条件可能会有变化
        var isHtml = isContains(response.data, '<title>Caliper</title>');
        if (isHtml) {
            window.location.href = '/';
        }


{#        if (response.headers && response.headers['content-type'] === 'application/octet-stream') {#}
{#            downloadUrl(response.request.responseURL);#}
{##}
{#            response.headers['content-type'] = 'text/json';#}
{#            return response;#}
{#        }#}

        return response;
    }, function (error) {
        // Do something with response error
        return Promise.reject(error);
    });


</script>
