<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Caliper</title>

    {% include "script.html" %}
    <link href="/static/links/intro.css" rel="stylesheet">

</head>

<style>
    .header {
        margin-top: 20px;
        font-size: 18px;
    }

    .hr-bottom {
        margin-top: 10px;
        height: 1px;
        border: none;
        border-top: 1px solid #e2e2e2;
    }

    #person {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .base {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 5px;
        align-items: center;
    }

    .headImg {
        width: 120px;
        height: 120px;

    }

    .baseContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 30px;

    }

    .baseLine {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 10px;

    }

    .left {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

    }

    .titleText {
        flex: 1;
        font-size: 14px;
        color: #333333;

    }

    .contentText {
        flex: 5;
        font-size: 14px;
        color: #333333;
        margin-left: 40px;
        display: flex;


    }


</style>
<body >
{% include "top.html" %}
<div id="person">
    <div style="background-color:white;padding-bottom: 40px;padding-right: 40px;padding-left: 40px">
    <div class="header">用户信息</div>
    <hr class="hr-bottom"/>
    <div class="header" style="font-weight: bold">基本资料</div>

    <div class="base">
        <div>
            <img class="headImg" style="max-width: 120%" :src="avatar"/>
            <div style="text-align: center" id="image">
                <Upload
                        ref="upload"
                        :show-upload-list="false"
                        :format="['jpg','jpeg','png']"
                        :max-size="2048"
                        :on-success="handleSuccess"
                        :on-format-error="handleFormatError"
                        :on-exceeded-size="handleMaxSize"
                        action="/user/userinfo/upload">
                    <i-button type="ghost" icon="ios-cloud-upload-outline" style="margin-top: 5px">修改头像</i-button>
                </Upload>

            </div>
        </div>

        <div class="baseContent">
            <div class="baseLine">
                <div class="left">
                    <div class="titleText">用户名:</div>
                    <div class="contentText">${ username }</div>
                </div>
                <div class="right">
                    <div class="titleText">组织：</div>
                    <div class="contentText" id="org">${ org }</div>
                </div>

            </div>
            <hr class="hr-bottom"/>

            <div class="baseLine">
                <div class="left">
                    <div class="titleText">账户ID：</div>
                    <div class="contentText" style="color:#FF9900">${ userid }</div>
                </div>
                <div class="right">
                    <div class="titleText">地区：</div>
                    <div class="contentText">${ address}</div>
                </div>
            </div>
            <hr class="hr-bottom"/>
            <div class="baseLine">
                <div class="left">
                    <div class="titleText">角色：</div>
                    <div class="contentText">${ role }</div>
                </div>
                <div class="right">
                    <div class="titleText">注册时间 ：</div>
                    <div class="contentText">
                        ${ time }

                    </div>
                </div>

            </div>
            <hr class="hr-bottom"/>
            <div class="baseLine">
                <div class="left">
                    <div class="titleText">上次登录：</div>
                    <div class="contentText" style="color:#FF9900">${ last_login }</div>
                </div>
                <div class="right">
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-bottom"/>

    <div id="change">
        <div style="display: flex;flex-direction: row">
            <div style="flex: 1;font-size: 14px">密码:</div>
            <div style="flex:22;display: flex;flex-direction: row;justify-content: space-around">
                <div style="flex:20;font-size:14px;">安全性高的密码可以使帐号更安全。建议您定期更换密码，设置一个包含字母，符号或数字中至少两项且长度超过6位的密码。</div>
                <div id="m_pass"
                     style="flex:4;font-size:16px;text-align: right; margin-right: 20px;color: #428BCA;">
{#                    <i-button type="text" @click="modifyPass">修改</i-button>#}
                    <a style="color: black;font-size: 12px;" href="/user/changepwd">修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </div>


            </div>
        </div>


        <hr class="hr-bottom"/>

        <div style="display: flex;flex-direction: row">
            <div style="flex: 1;font-size: 14px">邮箱:</div>
            <div style="flex:22;display: flex;flex-direction: row;justify-content: space-around">
                <div style="flex:20;font-size:14px;">${mail}</div>
                <div id="m_email"
                     style="flex:4;font-size:16px;text-align: right; margin-right: 20px;color: #428BCA;">
                    <!--<a href="javascript:m_mail();">修改</a>-->
                    <i-button type="text" @click="modifyMail">修改</i-button>
                </div>
            </div>
        </div>

        <div id="changemail">
            <div id="mail" v-if="mailisShow">
                <i-form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="80" inline>


                    <Form-Item label="E-mail" prop="mail">
                        <i-input v-model="formValidate.mail" placeholder="Enter your e-mail"></i-input>
                    </Form-Item>


                    <Form-Item>
                        <i-button type="primary" @click="handlemailSubmit('formValidate')">修改</i-button>
                        <i-button type="ghost" @click="handlemailReset('formValidate')" style="margin-left: 10px">取消
                        </i-button>
                    </Form-Item>
                </i-form>
            </div>

        </div>


        <hr class="hr-bottom"/>


        <div style="display: flex;flex-direction: row">
            <div style="flex: 1;font-size: 14px">手机:</div>
            <div style="flex:22;display: flex;flex-direction: row;justify-content: space-around">
                <div style="flex:20;font-size:14px;">${phone}</div>
                <div id="m_phone"
                     style="flex:4;font-size:16px;text-align: right; margin-right: 20px;color: #428BCA;">
                    <i-button type="text" @click="modifyPhone">修改</i-button>
                </div>
            </div>


        </div>

        <div id="changephone" >
            <div id="ph" v-if="phisShow">
                <i-form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="80" inline>
                    <Form-Item label="手机号码" prop="ph">
                        <i-input v-model="formValidate.ph" placeholder="Enter phone"></i-input>
                    </Form-Item>


                    <Form-Item>
                        <i-button type="primary" @click="handlephoneSubmit('formValidate')">修改</i-button>
                        <i-button type="ghost" @click="handlephoneReset('formValidate')" style="margin-left: 10px">取消
                        </i-button>
                    </Form-Item>
                </i-form>
            </div>

        </div>


    </div>

</div>
</div>
</body>
</html>

<script >


    var vm = new Vue({
        el: '#person',

        data: {
            mailisShow: false,
            phisShow: false,
            username:"{{ request.user.name }}",
            org: "{{ request.user.company }}",
            userid:  "{{ request.user.username }}",
            address: "{{ request.user.address }}",
            role: "{{ request.user.role }}",
            time: "{{ request.user.date_joined | date:"Y-m-d H:i:s" }}",
            mail: "{{ request.user.email }}",
            phone: "{{ request.user.telphone }}",
            last_login: "{{ request.user.last_login| date:"Y-m-d H:i:s" }}",
            avatar: "/upload/{{ request.user.avatar }}",

            formValidate: {
                mail: '',
                ph: '',
            },
            ruleValidate: {
                mail: [
                    {required: true, message: 'Mailbox cannot be empty', trigger: 'blur'},
                    {type: 'email', message: 'Incorrect email format', trigger: 'blur'}
                ],
                ph: [
                    {required: true, message: 'phone cannot be empty', trigger: 'blur'},
                    {
                        required: true,
                        type: 'string',
                        message: 'Incorrect phone format',
                        pattern: '^1[3|4|5|7|8|9][0-9]{9}$'
                    },
                ],

            }
        },
        methods: {
            handlemailSubmit: function (name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {

                        var params = new URLSearchParams();
                        params.append('username', this.username);
                        params.append('mail', this.formValidate.mail);
                        axios.post('/user/userinfo/set/', params).then(function (response) {
                            console.log(''.concat( response.status));
                        }).catch(function (error) {
                            alert(error);
                        });
                        this.$Message.success('Success!');
                        this.mailisShow = !this.mailisShow;
                        vm.mail=this.formValidate.mail

                    } else {
                        this.$Message.error('Fail!');
                    }
                })
            },
            handlemailReset: function (name) {
                this.$refs[name].resetFields();
                this.mailisShow = !this.mailisShow;
            },



            handlephoneSubmit: function (name) {
                this.$refs[name].validate((valid) => {

                    if (valid) {

                        var params = new URLSearchParams();
                        params.append('username', this.username);
                        params.append('phone', this.formValidate.ph);
                        axios.post('/user/userinfo/set/', params).then(function (response) {
                            console.log(''.concat( response.status));
                        }).catch(function (error) {
                            alert(error);
                        });
                        this.$Message.success('Success!');
                        this.phisShow = !this.phisShow;
                        vm.phone=this.formValidate.ph

                    } else {
                        this.$Message.error('Fail!');
                    }

                })
            },
            handlephoneReset: function (name) {
                //            console.log("===============")
                this.$refs[name].resetFields();
                this.phisShow = !this.phisShow;
            },



            modifyMail:function () {

                vm.mailisShow = true
            },

            modifyPhone:function () {

                vm.phisShow = true
            },

            handleFormatError :function (file) {
                this.$Notice.warning({
                    title: 'The file format is incorrect',
                    desc: 'File format of ' + file.name + ' is incorrect, please select jpg or png.'
                });
            },

            handleMaxSize:function (file) {
                this.$Notice.warning({
                    title: 'Exceeding file size limit',
                    desc: 'File  ' + file.name + ' is too large, no more than 2M.'
                });
            },
            handleSuccess:function  (res, file) {
                // 因为上传过程为实例，这里模拟添加 url
                vm.avatar = '/upload/' + res.data.avatar;
                this.$Message.success('upload Success!');
            },
            modifyPass:function() {
                 //window.location.href = '/changePass'
                window.open("");
            }

        }

    })

</script>

