{% load  filter %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Caliper</title>

    {% include "script.html" %}
    <link href="/static/links/intro.css" rel="stylesheet">
</head>

<style>
    .header {
        margin-top: 20px;
        font-size: 18px;
    }

    .hr-bottom {
        margin-top: 10px;
        height: 1px;
        border: none;
        border-top: 1px solid #e2e2e2;
    }

    #person {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .base {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 5px;
        align-items: center;
    }

    .headImg {
        width: 120px;
        height: 120px;

    }

    .baseContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 30px;

    }

    .baseLine {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 10px;

    }

    .left {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

    }

    .titleText {
        font-size: 14px;
        color: #333333;
        width: 100px;
    }

    .contentText {
        flex: 5;
        font-size: 14px;
        color: #333333;
        margin-left: 40px;
        display: flex;

    }

    .contentText2 {
        flex: 5;
        font-size: 14px;
        color: #333333;
        display: flex;

    }

    .control_btn {
        cursor: pointer;
        color: dodgerblue;
        font-size: 13px;
    }

    .showText {
        flex: 5;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .showBtn {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .controlBtn {
            margin-right: 20px;
            color: #428BCA;
            font-size: 13px;
        }


</style>
<body>
{% include "top.html" %}
<div id="person">
    <div style="background-color:white;padding-bottom: 40px;padding-right: 40px;padding-left: 40px">
        <div class="header">用户信息</div>
        <hr class="hr-bottom"/>
        <div class="header" style="font-weight: bold">基本资料</div>

        <div class="base">
            <div>
                <img class="headImg" style="max-width: 120%" :src="avatar"/>
                <div style="text-align: center" id="image">
                    <Upload
                            ref="upload"
                            :show-upload-list="false"
                            :format="['jpg','jpeg','png']"
                            :max-size="2048"
                            :on-success="handleSuccess"
                            :on-format-error="handleFormatError"
                            :on-exceeded-size="handleMaxSize"
                            action="upload">
                        <i-button type="ghost" icon="ios-cloud-upload-outline" style="margin-top: 5px">修改头像</i-button>
                    </Upload>

                </div>
            </div>
            <i-form ref="person_vaild" :rules="ruleValidatePersion" :model="person" :label-width="80"
                    label-position="left"
                    inline
                    style="width: 100%" name="form">
                <div class="baseContent">
                    <div class="baseLine">
                        <div class="left">
                            <div class="showText">
                                <div class="titleText" v-if="!name_edit">姓名:</div>
                                <div class="contentText" v-if="!name_edit">${ person.name }</div>
                                <div v-if="name_edit">
                                    <Form-item label="姓名:" prop="name">
                                        <i-input v-model="person.name" placeholder="请输入姓名"></i-input>
                                    </Form-item>
                                </div>
                            </div>


                            <div class="showBtn">
                                <div id="m_person" class="control_btn" v-if="!name_edit" @click="modify('c_name')">修改
                                </div>
                                <div class="control_btn" v-if="name_edit" @click="saveVaild('c_name')">保存</div>
                                <div style="margin-left: 10px" v-if="name_edit" class="control_btn"
                                     @click="cancle('c_name')">取消
                                </div>
                            </div>
                        </div>

                        <div class="right">
                            <div class="showText">
                                <div class="titleText" v-if="!company_edit">组织：</div>
                                <div class="contentText" v-if="!company_edit" id="org">${ person.company }</div>
                                <div v-if="company_edit">
                                    <Form-item label="组织:" prop="company">
                                        <i-input v-model="person.company" placeholder="请输入组织名"></i-input>
                                    </Form-item>
                                </div>
                            </div>

                            <div class="showBtn">
                                <div id="m_person" class="control_btn" v-if="!company_edit"
                                     @click="modify('c_company')">修改
                                </div>
                                <div class="control_btn" v-if="company_edit" @click="saveVaild('c_company')">保存</div>
                                <div style="margin-left: 10px" v-if="company_edit" class="control_btn"
                                     @click="cancle('c_company')">取消
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr class="hr-bottom"/>

                    <div class="baseLine">
                        <div class="left">

                                <div class="titleText" >用户名：</div>
                                <div class="contentText"  style="color:#FF9900">${ userid}</div>

                        </div>
                        <div class="right">
                            <div class="showText">
                                <div class="titleText" v-if="!address_edit">地区：</div>
                                <div class="contentText" v-if="!address_edit">${ person.address}</div>

                                <div v-if="address_edit">
                                    <Form-item label="地区:" prop="address">
                                        <i-input v-model="person.address" placeholder="请输入地区名"></i-input>
                                    </Form-item>
                                </div>
                            </div>

                            <div class="showBtn">
                                <div id="m_person" class="control_btn" v-if="!address_edit"
                                     @click="modify('c_address')">修改
                                </div>
                                <div class="control_btn" v-if="address_edit" @click="saveVaild('c_address')">保存</div>
                                <div style="margin-left: 10px" v-if="address_edit" class="control_btn"
                                     @click="cancle('c_address')">取消
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="hr-bottom"/>
                    <div class="baseLine">
                        <div class="left">
                            <div class="titleText">角色：</div>
                            <div class="contentText">${ role ==0 ?'管理员':'普通用户' }</div>
                        </div>
                        <div class="right">
                            <div class="titleText">注册时间 ：</div>
                            <div class="contentText">
                                ${ time }

                            </div>
                        </div>

                    </div>
                    <hr class="hr-bottom"/>
                    <div class="baseLine">
                        <div class="left">
                            <div class="titleText">上次登录：</div>
                            <div class="contentText" style="color:#FF9900">${ last_login }</div>
                        </div>
                        <div class="right">
                        </div>
                    </div>
                </div>
            </i-form>
        </div>
        <hr class="hr-bottom"/>

        <div id="change">
            <div style="display: flex;flex-direction: row">
                <div style="flex: 1;font-size: 14px">密码:</div>
                <div style="flex:22;display: flex;flex-direction: row;justify-content: space-around">
                    <div style="flex:20;font-size:14px;">安全性高的密码可以使帐号更安全。建议您定期更换密码，设置一个包含字母，符号或数字中至少两项且长度超过6位的密码。</div>
                    <div id="m_pass"
                         style="flex:4;font-size:16px;text-align: right; margin-right: 20px;color: #428BCA;">
                        {#                    <i-button type="text" @click="modifyPass">修改</i-button>#}
                        <a style="font-size: 13px;"
                           href="/user/changepwd" >修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </div>


                </div>
            </div>


            <hr class="hr-bottom"/>

            <div style="display: flex;flex-direction: row">
                <div style="flex: 1;font-size: 14px">邮箱:</div>
                <div style="flex:22;display: flex;flex-direction: row;justify-content: space-around">
                    <div style="flex:20;font-size:14px;">${mail}</div>
                    <div id="m_email"
                         style="flex:4;font-size:16px;text-align: right; margin-right: 20px;color: #428BCA;">
                        <!--<a href="javascript:m_mail();">修改</a>-->
{#                        <i-button type="text" @click="modifyMail" style="color: #2b85e4;font-size: 13px" >修改</i-button> #}
                        <a style="font-size: 13px;"
                           href="/user/changemail" >修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </div>
                </div>
            </div>


            <hr class="hr-bottom"/>


            <div style="display: flex;flex-direction: row;width: 100%">
                <i-form ref="phone_vaild" :rules="ruleValidatePersion" :model="person" :label-width="80"
                        label-position="left"
                        inline
                        style="width: 100%" name="form">
                    <div style="display: flex;flex-direction: row;width: 100%" v-if="!phone_edit">
                        <div style="flex: 1;font-size: 14px">手机:</div>
                        <div style="flex:22;display: flex;flex-direction: row;justify-content: space-between">
                            <div style="flex:20;font-size:14px;">${person.phone}</div>
                            <div id="m_phone" @click="modify('c_phone')"
                                 style="flex:4;font-size:13px;text-align: right; margin-right: 38px;color: #428BCA;">修改
                            </div>
                        </div>
                    </div>

                    <div style="display: flex;flex-direction: row;width: 100%;justify-content: space-between;"
                         v-if="phone_edit">
                        <Form-item label="手机:" prop="phone">
                            <i-input v-model="person.phone" placeholder="请输入手机"></i-input>
                        </Form-item>
                        <div style="display: flex;flex-direction: row;align-items: center;margin-right: 8px">
                            <div class="controlBtn" @click="saveVaild('c_phone')">保存</div>
                            <div id="c_phone" class="control_btn" @click="cancle('c_phone')">取消</div>
                        </div>
                    </div>
                </i-form>


                {#                <div style="flex: 1;font-size: 14px">手机:</div>#}
                {#                <div style="flex:22;display: flex;flex-direction: row;justify-content: space-around">#}
                {#                    <div style="flex:20;font-size:14px;">${phone}</div>#}
                {#                    <div id="m_phone"#}
                {#                         style="flex:4;font-size:16px;text-align: right; margin-right: 20px;color: #428BCA;">#}
                {#                        <i-button type="text" @click="modifyPhone" style="color: #2b85e4;font-size: 13px">修改</i-button>#}
                {#                    </div>#}
                {#                </div>#}


            </div>


        </div>

    </div>
</div>
</body>
</html>

<script>


    var vm = new Vue({
        el: '#person',

        data: {
            company_edit: false,
            address_edit: false,
            name_edit: false,
            phone_edit: false,
            mailisShow: false,
            phisShow: false,
            username: "{{ request.user.name |safen }}",
            org: "{{ request.user.company |safen }}",
            userid: "{{ request.user.username |safen }}",
            address: "{{ request.user.address |safen }}",
            role: "{{ request.user.role |safen }}",
            time: "{{ request.user.date_joined | date:"Y-m-d H:i:s" }}",
            mail: "{{ request.user.email|safen }}",
            phone: "{{ request.user.telphone }}",
            last_login: "{{ request.user.last_login| date:"Y-m-d H:i:s" }}",
            avatar: "/upload/{{ request.user.avatar }}",

            ruleValidatePersion: {//表单验证
                name: {required: true, type: 'string', message: '必填字段', trigger: 'blur'},
                company: {required: false, type: 'string', message: '必填字段'},
                address: {required: false, type: 'string', message: '必填字段'},
                phone: {
                        required: true,
                        type: 'string',
                        message: '请输入正确的手机号码',
                        pattern: '^1[3|4|5|7|8|9][0-9]{9}$'
                    },
            },
            person: {
                name: '{{ request.user.name|safen }}',
                company: '{{ request.user.company|safen }}',
                address: '{{ request.user.address|safen }}',
                phone:'{{ request.user.telphone }}'
            },
            old: {
                name: '{{ request.user.first_name|safen }}',
                company: '{{ request.user.userprofile.company|safen }}',
                address: '{{ request.user.userprofile.address|safen }}',
                phone:'{{ request.user.telphone }}'
            },
            formValidate: {
                mail: '',
                ph: '',
            },
            ruleValidate: {
                mail: [
                    {required: true, message: 'Mailbox cannot be empty', trigger: 'blur'},
                    {type: 'email', message: 'Incorrect email format', trigger: 'blur'}
                ],
                ph: [
                    {required: true, message: 'phone cannot be empty', trigger: 'blur'},
                    {
                        required: true,
                        type: 'string',
                        message: 'Incorrect phone format',
                        pattern: '^1[3|4|5|7|8|9][0-9]{9}$'
                    },
                ],

            }
        },
        methods: {


            handleFormatError: function (file) {
                this.$Notice.warning({
                    title: 'The file format is incorrect',
                    desc: 'File format of ' + file.name + ' is incorrect, please select jpg or png.'
                });
            },

            handleMaxSize: function (file) {
                this.$Notice.warning({
                    title: 'Exceeding file size limit',
                    desc: 'File  ' + file.name + ' is too large, no more than 2M.'
                });
            },
            handleSuccess: function (res, file) {
                // 因为上传过程为实例，这里模拟添加 url
                vm.avatar = '/upload/' + res.data.avatar;
                this.$Message.success('upload Success!');
            },
            modifyPass: function () {
                //window.location.href = '/changePass'
                window.open("");
            },
            modify: function (id) {
                switch (id) {
                    case "c_name":
                        vm.name_edit = true;
                        break;
                    case "c_company":
                        vm.company_edit = true;
                        break;
                    case "c_address":
                        vm.address_edit = true;
                        break;
                    case "c_phone":
                        vm.phone_edit = true;
                        break;
                }
            },
            cancle: function (id) {
                switch (id) {
                    case "c_name":
                        vm.name_edit = false;
                        vm.person.name = vm.old.name;
                        break;
                    case "c_company":
                        vm.company_edit = false;
                        vm.person.company = vm.old.company;
                        break;
                    case "c_address":
                        vm.address_edit = false;
                        vm.person.address = vm.old.address;
                        break;
                    case "c_phone":
                        vm.phone_edit = false;
                        vm.person.phone = vm.old.phone;
                        break;
                }
            },
            saveVaild: function (id) {
                if(id === 'c_phone'){
                    vaild = this.$refs['phone_vaild'];
                }else {
                    vaild = this.$refs['person_vaild'];
                }
                {#                switch (id) {#}
                {#                    case "c_name":#}
                {#                        vaild = this.$refs['person_vaild'];#}
                {#                        break;#}
                {#                    case "c_company":#}
                {#                        vaild = this.$refs['person_vaild'];#}
                {#                        break;#}
                {#                    case "c_address":#}
                {#                        vaild = this.$refs['person_vaild'];#}
                {##}
                {#                        break;#}
                {##}
                {#                }#}
                vaild.validate(function (valid) {
                    if (valid) {
                        vm.save(id)
                    }
                });
            },
            save: function (id) {
                axios.post('save', JSON.stringify(vm.person))
                    .then(function (response) {
                        console.log(response);
                        if (response.data.code == 0) {
                            vm.$Message.success(response.data.msg);
                            switch (id) {
                                case "c_name":
                                    vm.name_edit = false;
                                    vm.old.name = vm.person.name;
                                    break;
                                case "c_company":
                                    vm.company_edit = false;
                                    vm.old.company = vm.person.company;
                                    break;
                                case "c_address":

                                    vm.address_edit = false;
                                    vm.old.address = vm.person.address;
                                    break;
                                case "c_phone":

                                    vm.phone_edit = false;
                                    vm.old.phone = vm.person.phone;
                                    break;
                            }


                        } else {
                            vm.$Message.warning(response.data.msg);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        {#                            vm.$Message.error(error);#}
                    });
            },


        }

    })

</script>

