.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/log/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
out/
nbbuild/
dist/
nbdist/
.nb-gradle/

### python ###
*.pyc
*.mo
!*/migrations
*/migrations/*
!*/migrations/__init__.py
log/