<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "script.html" %}
    <link href="/static/links/intro.css" rel="stylesheet">

</head>
<body class="gray-bg">
{% include "top.html" %} {# django 的 include 标签 #}
{% include "filter.html" %}
<div id="app">
    <div style="padding-bottom: 40px;padding-right: 40px;padding-left: 40px">
        <i-table border :columns="columns" :data="data" @on-select="select" @on-select-cancel="selectCancle"></i-table>

        <div style="display: flex;flex-direction: row;justify-content: space-between;margin-top: 20px">
            <div style="display: flex;flex-direction: row;align-items: center">
                <i-button type="primary" @click="view" style="margin-right: 10px">View</i-button>
                <i-button type="primary" @click="download" style="margin-right: 10px">Download</i-button>
                <i-button type="primary" @click="del" style="margin-right: 10px">Delete</i-button>
                <i-button type="primary" @click="share">Share</i-button>
            </div>

            <Page :total="total" :page-size="pageSize" :current="page" :show-total="true"
                  @on-change="pageChange"
                  :page-size-opts="[1,10, 20, 30, 40]"></Page>
        </div>
    </div>
</div>
<script>

    var vm = new Vue({
        el: '#app',
        data: {
            columns: [
                {
                    type: 'selection',
                    width: 60,
                    align: 'center'
                },
                {
                    title: 'HostName(Number)',
                    key: 'name',
                    align: 'center',
                    render: (h, params) => {
                        return h('div', params.row.config.hostname + " (" + params.row.id + ")");
                    }
                },
                {
                    title: 'CPU',
                    key: 'cpu',
                    align: 'center',
                    render: (h, params) => {
                        return h('div', params.row.config.cpu[0].version);
                    }
                },
                {
                    title: 'Product Name',
                    key: 'pName',
                    align: 'center',
                    render: (h, params) => {
                        return h('div', params.row.config.sys.productname);
                    }
                },
                {
                    title: 'OS Version',
                    key: 'os',
                    align: 'center',
                    render: (h, params) => {
                        return h('div', params.row.config.os);
                    }

                },
                {
                    title: 'Kernel Version',
                    key: 'cpu',
                    align: 'center',
                    render: (h, params) => {
                        return h('div', params.row.config.kernel);
                    }
                },
                {
                    title: 'User',
                    key: 'pName',
                    align: 'center',
                    render: (h, params) => {
                        return h('div', params.row.owner.name);
                    }
                },
                {
                    title: 'DateTime',
                    key: 'cpu',
                    align: 'center',
                    render: (h, params) => {
                        return h('div', params.row.time);
                    }
                },
                {
                    title: 'Test Profile',
                    key: 'pName',
                    align: 'center',
                    render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'text',
                                    size: 'small',
                                    icon: 'document',
                                },
                                style: {
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                        this.show(params.index)
                                    }
                                }
                            }, 'View'),
                        ]);
                    }
                },
            ],
            data: {{ tasks|safe }},
            page: {{ page|safe }},
            pageSize: {{ pageSize|safe }},
            total:{{ total|safe }},
            filter: {},
            selection: [], {#  选中的table 列 #}
        },
        methods: {
            view: function () {
                console.log(vm.selection);
            },
            download: function () {
                console.log(vm.selection);
            },
            del: function () {
                console.log(vm.selection);
            },
            share: function () {
                console.log(vm.selection);
            },
            pageChange: function (page) {
                if (vm.filter.length == 0) {
                    axios.post('page', {"page": page})
                        .then(function (response) {
                            if (response.data.code == 0) {
                                {# vm.$Message.success("成功");#}
                                {#                                vm.data = JSON.parse(response.data.data.tasks);#}
                                vm.reChecked(JSON.parse(response.data.data.tasks));
                                vm.page = response.data.data.page;
                                vm.total = response.data.data.total;
                            } else {
                                vm.$Message.warning(response.data.msg);
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                } else {
                    axios.post('filter', {"page": page, "filter": vm.filter})
                        .then(function (response) {
                            if (response.data.code == 0) {
                                {# vm.$Message.success("成功");#}
                                {#                                vm.data = JSON.parse(response.data.data.tasks);#}
                                vm.reChecked(JSON.parse(response.data.data.tasks));
                                vm.page = response.data.data.page;
                                vm.total = response.data.data.total;
                            } else {
                                vm.$Message.warning(response.data.msg);
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }

            },
            filterTask: function () {
                axios.post('filter', {"page": 1, "filter": vm.filter})
                    .then(function (response) {
                        if (response.data.code == 0) {
                            {# vm.$Message.success("成功");#}
                            {#                            vm.data = JSON.parse(response.data.data.tasks);#}
                            vm.reChecked(JSON.parse(response.data.data.tasks));
                            vm.page = response.data.data.page;
                            vm.total = response.data.data.total;
                        } else {
                            vm.$Message.warning(response.data.msg);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            select: function (selection, row) {
                vm.selection.push(row)

                console.log(vm.selection);
            },
            selectCancle: function (selection, row) {
                var removeId = -1;
                for (i in vm.selection) {
                    item = vm.selection[i];
                    if (row.id == item.id) {
                        removeId = i;
                    }
                }
                if (removeId != -1) {
                    vm.selection.splice(removeId, 1)
                }
                console.log(vm.selection);
            },
            reChecked: function (datas) {
                if (vm.selection.length != 0) {
                    for (i in vm.selection) {
                        item = vm.selection[i];
                        for (j in datas) {
                            data = datas[j];
                            if (item.id == data.id) {
                                data['_checked'] = true;
                            }
                        }
                    }
                }
                vm.data = datas;
            }
        }
    });

</script>
</body>

</html>