<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "script.html" %}
    <link href="/static/links/intro.css" rel="stylesheet">

</head>
<body class="gray-bg">
{% include "top.html" %} {# django 的 include 标签 #}
{% include "filter.html" %}
<div id="app">
    <div style="padding-bottom: 40px;padding-right: 40px;padding-left: 40px">
        {#        @on-select-all="selectAll" @on-select="select"  @on-select-cancel="selectCancle"  @on-selection-change="change"#}
        <i-table border :columns="columns" :data="data" @on-select-all="selectAll" @on-selection-change="selectChange"
        ></i-table>

        <div style="display: flex;flex-direction: row;justify-content: space-between;margin-top: 20px">
            <div style="display: flex;flex-direction: row;align-items: center">
                <i-button type="primary" @click="view" style="margin-right: 10px">View</i-button>
                <i-button type="primary" @click="download" style="margin-right: 10px">
                    <Icon type="ios-download-outline"></Icon>
                    Download
                </i-button>
                <i-button type="primary" @click="del" style="margin-right: 10px">Delete</i-button>
                <Modal
                        v-model="modal1"
                        title="Delete confirmation"
                        ok-text="close"
                        cancel-text="cancel"
                        @on-ok="okDelete"
                        @on-cancel="cancel">
                    <p>Are you sure you want to delete this record?</p>
                </Modal>


                <i-button type="primary" @click="share">Share</i-button>
                <Modal
                        v-model="modal2"
                        title="Member list"
                        ok-text="close"
                        cancel-text="cancel"
                        @on-ok="userListSubmit"
                        @on-cancel="cancel">
                    <div style="display: flex;flex-direction: row;">
                        <div style="font-size: 20px">machinary code:</div>
                        <div style="color: #e20400;font-size: 22px">${machinaryCode}</div>
                    </div>
                    <div style="display: flex;flex-direction: row; margin-top: 10px">
                        <div>
                            <i-button type="success" size="small" @click="adduser" style="margin-right: 5px">Add Members
                            </i-button>
                        </div>
                        <div>
                            <i-button type="success" size="small" @click="allDelete" style="margin-right: 20px">Delete
                                All
                            </i-button>
                        </div>
                    </div>
                    <div style="margin-top: 10px">
                        <i-table border :columns="columns1" :data="data1"></i-table>
                    </div>
                    <div style="margin-top: 10px;display: flex;flex-direction: row;justify-content: flex-end">
                        <Page :total="total1" :page-size="pageSize1" :current="page1" :show-total="true"
                              @on-change="pageChange1"
                              :page-size-opts="[1,10, 20, 30, 40]"></Page>
                    </div>
                </Modal>


                <Modal
                        v-model="modal3"
                        title="Add members"
                        ok-text="close"
                        cancel-text="cancel"
                        @on-ok="addUserSubmit"
                        @on-cancel="cancel">
                    <div style="margin-top: 10px">
                        Please enter the user name, multiple user names please, separated
                    </div>
                    <div style="margin-top: 10px">
                        <i-input v-model="tenandID" type="textarea" :rows="4"
                                 placeholder="E.g:zhangsan,lisi,wange"></i-input>
                    </div>

                </Modal>
            </div>

            <Page :total="total" :page-size="pageSize" :current="page" :show-total="true"
                  @on-change="pageChange"
                  :page-size-opts="[1,10, 20, 30, 40]"></Page>
        </div>
    </div>
</div>
<script>

    {#    var standardPost = function (url, args) {#}
    {#        var form = $("<form method='post'></form>"),#}
    {#            input;#}
    {#        form.attr({"action": url});#}
    {#        $.each(args, function (key, value) {#}
    {#        input = $("<input type='hidden'>");#}
    {#        input.attr({"name": 'data'});#}
    {#        input.val(args);#}
    {#        form.append(input);#}
    {#        });#}
    {#        form.append(document.body).submit();#}
    {#    };#}
    {##}
    {#    function submitData(url, data) {#}
    {#        var form = $("<form method='post' action='" + url + "'>{% csrf_token %}"#}
    {#            + "<input type='submit'/>"#}
    {#            + "<input type='hidden' name='data' value='" + data + "' /></form>");#}
    {#        $(document.body).append(form);#}
    {#        form.submit();#}
    {#        $('input[type="submit"]', form).click();#}
    {#    }#}
    //防止页面后退
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });

    var vm = new Vue({
        el: '#app',
        data: {
            modal1: false,
            modal2: false,
            modal3: false,
            machinaryCode: '',
            usercounts: '',
            tenandID: '',
            columns: [
                {
                    type: 'selection',
                    width: 60,
                    align: 'center'
                },
                {
                    title: 'HostName(Number)',
                    key: 'name',
                    align: 'center',
                    render: (h, params) => {
                        return h('div', params.row.config.hostname + " (" + params.row.id + ")");
                    }
                },
                {
                    title: 'CPU',
                    key: 'cpu',
                    align: 'center',
                    render: (h, params) => {
                        return h('div', params.row.config.cpu[0].version);
                    }
                },
                {
                    title: 'Product Name',
                    key: 'pName',
                    align: 'center',
                    render: (h, params) => {
                        return h('div', params.row.config.sys.name);
                    }
                },
                {
                    title: 'OS Version',
                    key: 'os',
                    align: 'center',
                    render: (h, params) => {
                        return h('div', params.row.config.os);
                    }

                },
                {
                    title: 'Kernel Version',
                    key: 'cpu',
                    align: 'center',
                    render: (h, params) => {
                        return h('div', params.row.config.kernel);
                    }
                },
                {
                    title: 'User',
                    key: 'pName',
                    align: 'center',
                    render: (h, params) => {
                        return h('div', params.row.owner.username);
                    }
                },
                {
                    title: 'DateTime',
                    key: 'cpu',
                    align: 'center',
                    render: (h, params) => {
                        return h('div', params.row.time);
                    }
                },
                {
                    title: 'Test Profile',
                    key: 'pName',
                    align: 'center',
                    render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'text',
                                    size: 'small',
                                    icon: 'document',
                                },
                                style: {
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                        {#                                        this.show(params.index)#}
                                        window.location.href = "folder/" + params.row.id;
                                    }
                                }
                            }, 'View'),
                        ]);
                    }
                },
            ],
            data: {{ tasks|safe }},
            page: {{ page|safe }},
            pageSize: {{ pageSize|safe }},
            total:{{ total|safe }},
            filter: {},
            selection: [], {#  选中的table 列 #}
            columns1: [
                {
                    title: 'user name',
                    key: 'userName',
                    render: (h, params) => {
                        return h('div', [
                            h('Icon', {
                                props: {
                                    type: 'person'
                                }
                            }),
                            h('strong', params.row.name)
                        ]);
                    }
                },
                {
                    title: 'user ID',
                    key: 'userID'
                },
                {
                    title: 'remove',
                    key: 'remove',
                    width: 150,
                    align: 'center',
                    render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'error',
                                    size: 'small'
                                },
                                on: {
                                    click: () => {
                                        console.log(params.row.userID);
                                        vm.remove(params.row.userID, params.row.taskId)
                                    }
                                }
                            }, 'Delete')
                        ]);
                    }
                }
            ],
            data1: [],
            page1: 1,
            pageSize1: 1,
            total1: 1,

        },
        methods: {
            getIds:function (selections) {
                var ids=[];
              for(var index in selections){
                  ids.push(selections[index]['id'])
              }
              return ids;
            },
            selectChange: function (selection) {
                vm.selection = selection;
                console.log(selection);
            },
            view: function () {
                console.log(vm.selection);
                if (vm.selection.length == 1) {
                    $.cookie('selection', JSON.stringify(vm.getIds(vm.selection)), {path: "/"});
                    window.location.href = "single";
                } else if (vm.selection.length > 1 && vm.selection.length <= 20) {
                    {#                    $.cookie('selection', '',{path:"/"});#}
                    $.cookie('selection', JSON.stringify(vm.getIds(vm.selection)), {path: "/"});
                    {# 必须要加 路径path #}

                    window.location.href = "compare";
                    {#                    submitData('compare', JSON.stringify(vm.selection));#}
                    {#                    axios.post('compare', )#}
                    {#                        .then(function (response) {#}
                    {#                            if (response.data.code == 0) {#}
                    {#                                vm.$Message.success("成功");#}
                    {#                                vm.data = JSON.parse(response.data.data.tasks);#}
                    {#                                vm.reChecked(JSON.parse(response.data.data.tasks));#}
                    {#                                vm.page = response.data.data.page;#}
                    {#                                vm.total = response.data.data.total;#}
                    {#                            } else {#}
                    {#                                vm.$Message.warning(response.data.msg);#}
                    {#                            }#}
                    {#                        })#}
                    {#                        .catch(function (error) {#}
                    {#                            console.log(error);#}
                    {#                        });#}
                } else if (vm.selection.length > 20) {
                    vm.$Message.error('Sorry,Select 20 items at most!')
                } else {
                    vm.$Message.warning("Please select some task!");
                }

            },
            del: function () {
                if (vm.selection.length != 0) {
                    var canDelete = true;
                    for (index in vm.selection) {
                        item = vm.selection[index];
                        if (item.owner.id != {{ request.user.id }}) {
                            canDelete = false;
                        }
                    }

                    if (canDelete) {
                        vm.modal1 = true;
                    } else {
                        vm.$Message.warning("Some select  task is not belong You!");
                    }
                } else {
                    vm.$Message.warning("Please select some task!");
                }
            }
            ,
            share: function () {

                if (vm.selection.length < 1) {
                    vm.$Message.warning('Please select some task!');
                } else if (vm.selection.length == 1) {
                    //this.$Modal.confirm({})
                    var canShare = true;
                    for (index in vm.selection) {
                        item = vm.selection[index];
                        if (item.owner.id != {{ request.user.id }}) {
                            canShare = false;
                        }
                    }
                    if (canShare) {
                        vm.userlist()
                    } else {
                        vm.$Message.warning("Some select  task is not belong You!");
                    }

                } else {
                    var canShare = true;
                    for (index in vm.selection) {
                        item = vm.selection[index];
                        if (item.owner.id != {{ request.user.id }}) {
                            canShare = false;
                        }
                    }
                    if (canShare) {
                        vm.adduser()
                    } else {
                        vm.$Message.warning("Some select  task is not belong You!");
                    }

                }

            }
            ,
            pageChange: function (page) {
                if (vm.filter.length == 0) {
                    axios.post('page', {"page": page})
                        .then(function (response) {
                            if (response.data.code == 0) {
                                {# vm.$Message.success("成功");#}
                                {#                                vm.data = JSON.parse(response.data.data.tasks);#}
                                vm.reChecked(JSON.parse(response.data.data.tasks));
                                vm.page = response.data.data.page;
                                vm.total = response.data.data.total;
                            } else {
                                vm.$Message.warning(response.data.msg);
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                } else {
                    axios.post('filter', {"page": page, "filter": vm.filter})
                        .then(function (response) {
                            if (response.data.code == 0) {
                                {# vm.$Message.success("成功");#}
                                {#                                vm.data = JSON.parse(response.data.data.tasks);#}
                                vm.reChecked(JSON.parse(response.data.data.tasks));
                                vm.page = response.data.data.page;
                                vm.total = response.data.data.total;
                            } else {
                                vm.$Message.warning(response.data.msg);
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }

            }
            ,
            filterTask: function () {
                axios.post('filter', {"page": 1, "filter": vm.filter})
                    .then(function (response) {
                        if (response.data.code == 0) {
                            {# vm.$Message.success("成功");#}
                            {#                            vm.data = JSON.parse(response.data.data.tasks);#}
                            vm.reChecked(JSON.parse(response.data.data.tasks));
                            vm.page = response.data.data.page;
                            vm.total = response.data.data.total;
                        } else {
                            vm.$Message.warning(response.data.msg);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
            ,
            select: function (selection, row) {
                vm.selection.push(row);

                console.log(vm.selection);
            }
            ,
            selectCancle: function (selection, row) {
                var removeId = -1;
                for (i in vm.selection) {
                    item = vm.selection[i];
                    if (row.id == item.id) {
                        removeId = i;
                    }
                }
                if (removeId != -1) {
                    vm.selection.splice(removeId, 1)
                }
                console.log(vm.selection);
            }
            ,
            selectAll: function (selection, removeObjs) {
                for (i in selection) {
                    item = selection[i];
                    vm.selection.push(item);
                }

                vm.selection.forEach(function (item, index, array) {
                    for (r in removeObjs) {
                        rItem = removeObjs[r];
                        if (rItem.id === item.id) {
                            array.splice(index, 1)
                        }
                    }
                });

                console.log(vm.selection);
            }
            ,

            reChecked: function (datas) {
                if (vm.selection.length != 0) {
                    for (i in vm.selection) {
                        item = vm.selection[i];
                        for (j in datas) {
                            data = datas[j];
                            if (item.id == data.id) {
                                data['_checked'] = true;
                            }
                        }
                    }
                }
                vm.data = datas;
            }
            ,
            userlist: function () {

                {#                var params = new URLSearchParams();#}
                {#                params.append('searchState', JSON.stringify(vm.selection));#}
                axios.post('list/userlist/').then(function (response) {
                    if (response.status == 200) {
                        var resData = response.data.data
                        vm.data1 = resData.data1;
                        vm.machinaryCode = resData.machinaryCode
                        vm.usercounts = resData.usercounts
                        vm.total1 = resData.total;
                        vm.page1 = resData.page;
                        vm.pageSize = resData.pageSize;

                        // console.log(resData)
                    } else {
                        vm.$Message.warning(response.data.msg);
                    }
                }).catch(function (error) {
                    vm.data1 = [];
                    vm.machinaryCode = '';
                    vm.usercounts = '';
                    vm.total1 = 0;
                    vm.page1 = 1;
                });

                vm.modal2 = true
            }
            ,
            adduser: function () {
                //this.$Message.info('Clicked ok');
                var params = new URLSearchParams();
                params.append('searchState', JSON.stringify(vm.selection));
                axios.post('list/adduser', params).then(function (response) {
                    if (response.status == 200) {
                        vm.machinaryCode = response.data.data.machinaryCode
                        vm.usercounts = response.data.data.usercounts

                    } else {
                        vm.$Message.warning(response.data.msg);
                    }
                }).catch(function (error) {

                });


                vm.modal3 = true
            }
            ,


            userListSubmit: function () {


            }
            ,
            addUserSubmit: function () {
                var params = new URLSearchParams();
                params.append('tenandID', JSON.stringify(vm.tenandID));
                params.append('searchState', JSON.stringify(vm.selection));
                vm.tenandID = ''
                axios.post('list/addusersubmit', params).then(function (response) {
                    if (response.status == 200) {
                        var resData = response.data.data.fail
                        console.log(resData.length)
                        if (resData.length != 0) {
                            vm.$Message.error('user name:' + resData.toString() + ' not found');

                        }

                    } else {
                        vm.$Message.warning(response.data.msg);
                    }
                }).catch(function (error) {

                });
                vm.modal2 = false

            }
            ,
            okDelete: function () {
                axios.post('rowdelete', {"selection": JSON.stringify(vm.selection)}).then(function (response) {
                    if (response.data.code == 0) {
                        {#                            $.cookie('selection', "", {path: "/"});#}
                        axios.post('page', {"page": 1})
                            .then(function (response) {
                                if (response.data.code == 0) {
                                    {# vm.$Message.success("成功");#}
                                    {#                                vm.data = JSON.parse(response.data.data.tasks);#}
                                    vm.reChecked(JSON.parse(response.data.data.tasks));
                                    vm.page = response.data.data.page;
                                    vm.total = response.data.data.total;
                                } else {
                                    vm.$Message.warning(response.data.msg);
                                }
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    } else {

                    }
                }).catch(function (error) {
                    console.log(error);
                });
            }
            ,

            allDelete: function () {

                axios.post('list/allDelete', {'taskId': vm.selection[0]['id']}).then(function (response) {
                    if (response.data.code == 0) {

                        vm.userlist()

                    } else {
                        vm.$Message.warning(response.data.msg);
                    }
                }).catch(function (error) {

                });

            },

            cancel: function () {
                this.$Message.info('You have chosen to cancel the operation ');
            },

            download: function () {
                if (vm.selection.length <= 0) {
                    vm.$Message.warning("Please select some task!");
                } else {
                    {#                    window.open('download');#}
                    zips = [];
                    for (z in vm.selection) {
                        for (var i = 0; i < vm.selection.length; i++)
                            z = vm.selection[i]
                        zips.push(z['path'])
                    }

                    axios.post('download', vm.selection).then(function (response) {
                        if(response.data.code===0) {
                            const elink = document.createElement('a');
                            elink.href = "download/real?path=" + response.data.data.path +
                                "&fileName=" + response.data.data.fileName + "&isMult=" + response.data.data.isMult;
                            document.body.appendChild(elink);
                            elink.click();
                            document.body.removeChild(elink)
                        }else{
                            vm.$Message.error("file not found!")
                        }
                    }).catch(function (error) {
                        console.log(error);
                        vm.$Message.error("file not found!")
                    });
                }

            }
            ,
            remove(userId, taskId) {
                var data = {'userId': userId, "taskId": taskId};
                axios.post('list/delete', data).then(function (response) {
                    if (response.data.code == 0) {

                        vm.userlist()

                    } else {
                        vm.$Message.warning(response.data.msg);
                    }
                }).catch(function (error) {

                });
            }
            ,

            pageChange1: function (page) {
                axios.post('list/userlist/', {"page": page})
                    .then(function (response) {
                        if (response.data.code == 0) {
                            var resData = response.data.data
                            vm.data1 = resData.data1;
                            vm.machinaryCode = resData.machinaryCode
                            vm.usercounts = resData.usercounts
                            vm.total1 = resData.total;
                            vm.page1 = resData.page;
                            vm.pageSize = resData.pageSize;


                        } else {
                            vm.$Message.warning(response.data.msg);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            }
            ,


        }
    });

</script>
</body>

</html>