<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ toolName }}</title>
    {% include "script.html" %}
    <link href="/static/links/bootstrap.min.css" rel="stylesheet">
    <link href="/static/links/datatable.min.css" rel="stylesheet">
    <link href="/static/links/intro.css" rel="stylesheet">
    <style>
        .titleCell {

        }

        .table {
            background-color: white;

        }
       .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
           padding: 4px;
       }

    </style>
</head>
<body class="gray-bg">
{% include "top.html" %} {# django 的 include 标签 #}
<div class="content" >
    <div class="row" style="background-color: white">
        {% for result in content %}
            <pre style="background-color: white;border: none">{{ result.top }}</pre>

            {#            {% if result.tables|length > 0 %}#}
            {% for table in result.tables %}
                {% if table.table %}
                    <pre style="background-color: transparent;border: none">{{ table.centerTop }}</pre>
                    <table class="table" cellspacing="0" width="100%">
                        {% for tr in table.table %}
                            {% if forloop.first %}
                                <tr class="titleCell">
                                    {% else %}
                                <tr >
                            {% endif %}

                        {% for td in tr %}
                            {% if forloop.parentloop.first %}
                                <th class="contentCell">{{ td }}</th>
                            {% else %}
                                <td class="contentCell">{{ td }}</td>
                            {% endif %}
                        {% endfor %}

                        </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% endfor %}

            {% for table in result.tables %}
                {% if table.i_table %}
                    <pre style="background-color: transparent;border: none">{{ table.centerTop }}</pre>

                    <table class="table" cellspacing="0"  width="100%">
                        {% for tr in table.i_table %}
                            <tr >

                                {% for td in tr %}
                                    <td class="contentCell"><div>{{ td }}</div></td>
                                {% endfor %}

                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% endfor %}

            {#            {% endif %}#}
            {% if result.v_table %}
                <div>ddddddddd</div>
            {% endif %}
            <pre style="background-color: transparent;border: none">{{ result.bottom }}</pre>
            <hr style="border-color: #cdcdcd"/>
        {% endfor %}
    </div>
</div>
{% include "footer.html" %}
</body>
</html>

