<div id="top">
    <div style="display: flex;flex-direction: row;align-items: center;justify-content: flex-end;
        padding: 15px;background-color: white">
        <div style="display: flex;flex-direction: row;align-items: center;cursor: pointer" @click="person">
            <Icon type="android-person" color="#1492B4" size="20"></Icon>
            <div style="margin-left: 10px;font-size: 16px">{{ request.user.name }}</div>
        </div>
        <div style="display: flex;flex-direction: row;align-items: center;
            margin-left: 40px;margin-right: 40px;cursor: pointer"
            @click="logout">
            <Icon type="log-out" color="#1492B4" size="20"></Icon>
            <div style="margin-left: 10px;font-size: 16px">Logout</div>
        </div>
    </div>

</div>

<script>
    new Vue({
        el: "#top",
        data: {},
        methods: {
            person:function () {
                console.log("persion click");
                window.location.href = "/user/userinfo"
            },
            logout:function () {
                console.log("logout click")
            }
        }
    });
</script>